<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Nuevo movimiento</mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let id = index">{{ id }}</td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha | date: 'd/M/yyyy' }}
      </td>
    </ng-container>

    <!-- Concepto Column -->
    <ng-container matColumnDef="concepto">
      <th mat-header-cell *matHeaderCellDef>Concepto</th>
      <td mat-cell *matCellDef="let element">{{ element.concepto }}</td>
    </ng-container>

    <!-- Importe Column -->
    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef>Importe</th>
      <td mat-cell *matCellDef="let element">{{ element.importe }}</td>
    </ng-container>

    <!-- Ver Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let element; let id = index;">
        <a routerLink="{{ id }}"> Ver </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let id = index;"></tr>
  </table>
</mat-card>

<!-- <mat-nav-list *ngIf="movementsList$ | async as movementsList; else empty">
  <a
    *ngFor="let movement of movementsList"
    mat-list-item
    [routerLink]="movement.description"
  >
    {{ movement.concepto }}
  </a>
</mat-nav-list>
<ng-template #empty>
  <h1>CARGANDO ...</h1>
</ng-template> -->
