<h2>Lista de movimientos</h2>
<table>
  <thead>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Tipo</th>
    <th>Importe</th>
    <td></td>
  </thead>
  <tbody>
    <tr>
      <td>14/10/2019</td>
      <td>Café</td>
      <td>Gasto</td>
      <td>5€</td>
      <td><a routerLink="1">Editar</a></td>
    </tr>
    <tr>
      <td>22/10/2019</td>
      <td>Frutas</td>
      <td>Gasto</td>
      <td>10€</td>
      <td><a routerLink="2">Editar</a></td>
    </tr>
    <tr>
      <td>29/10/2019</td>
      <td>Chocolate</td>
      <td>Gasto</td>
      <td>3,5€</td>
      <td><a routerLink="3">Editar</a></td>
    </tr>
  </tbody>
</table>
